

body
{
    background-color: rgb(59,59,59);
    color: rgb(210,210,210);
    font: normal 20px Arial, Helvetica, sans-serif;
}
h3
{
    font-size: 24px;
    float: left;
    padding: 0;
    margin: -1% 10px 1% 11%;
}

#menu_bar
{
    text-align:center;
    background-color: #292929;
    padding: 0.55%;
}



.container0
{
    width: 1000px;
}

.container1
{
    width:600px;
}



#menu_bar a
{
    padding: 0.63%;
    font-size: 20px;
    font-weight:bold;
    text-decoration: none;
    background-color: #252525;
}

#menu_bar a:link
{
    
    color:#F1F1F1;
    text-decoration: none;
    background-color: #252525;


}

#menu_bar a:visited
{
    color:#F1F1F1;
    text-decoration: none;
    background-color: #252525;

}

img
{
    width: 170px;
    height: 170px;
    border: 1px;
    margin: 10px 20% 0 7%;
    border-color: green;
    float: left;

}
#banner
{
    width: 301px;
    height: 44px;
    float: left;
    margin: -0.55% 0 0 0;

}

#juno_image
{
    width: 220px;
    height: 230px;
    border: 1px;
    margin: -15% 0 0 2.5%;
    border-color: green;
    float: left;
}

p
{
    border: 2px solid #313131; 
    background-color: #232323;
    padding: 10px;
}

#p0
{
    float: left;
    margin: 2%  0% 0% 25%;
    font-size: 21px;
    border: 2px solid #313131; 
    background-color: #232323;
}

#p1
{
    padding: 5px;
    float:left;
    margin: 20%  40% 0% 5%;
    font-size: 21px;
}

#p2
{
    padding: 5px;
    float:left;
    margin: 1%  0% 0% 25%;
    font-size: 21px;
}

#jpl_para 
{
    margin: -20% -20% -10% -10%;
    padding: 0.005%;
}

#project_link
{
    color: rgb(120,120,250);
    text-decoration: none;
}